@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@325&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient(90deg,#5666b8 0%,#ce69c7 46%,#e5c78f 95%); */
    /* background-color: #0c192c; */
    background-color: #060c15;
}

/* Navegación */

/* #navegacion {
    background-color: #060c15;
    display: flex;
    justify-content: space-between;
}

header img {
    margin: auto auto auto 100px;
}

a {
    text-decoration: none;
}

.nav-section {
    padding: 30px;
    margin: auto 5%;
}

.nav-section a {
    color: orange;
    border: 2px solid orange;
    padding: 5px;
    margin: 1px;
    border-radius: 7px;
}

.nav-section a:hover {
    color: orangered;
    border: 2px solid orangered;
    padding: 8px;
    font-size: 109%;
} */
header {
    background-color: #060c15;
}
div.social{
  margin-top: 20px;
  margin-left: 3%;
  
}
div.header{
  display: flex;
  justify-content: space-around;
}

a {
    text-decoration: none;
}

.nav-section {
  margin: 50px 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-section a {
    color: white;
    padding: 2px 30px;
    margin: 5px;
    border-radius: 15px;
    font-size: 23px;
}

#posicion {
   border: 2px solid rgb(253, 169, 14);
}

.nav-section a:hover {
    color: rgb(253, 169, 14);
    font-size: 25px;;
}

div.buscar {
  display: flex;
  margin-top: 38px;
}
nav h1 {
  padding: 20px 10px;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -4px 2px 4px rgb(255 255 255);
}

div.ajustar {
    display: flex;
    flex-direction: column;
}

.buscar input {
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 25px;
    padding: 0px 15px 0px 30px;
    background-image: url(../img/lupa.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
}

div.social img{
    padding: 0 10px 20px;
  }
div.social img:hover{
    padding-bottom: 5px;
}

/* /Navegación */

div.contenido-web {
    display: flex;
}

/* Artículo */

#noticias-hr-1 {
    margin: 5px 0;
    border: 0 none orange;
    border-top: 1px solid orange;
    height: 1px;
    display: block;
    clear: both;
}

#noticias-hr-2 {
    margin: 20px 13% 20px;
    border: 0 none orange;
    border-top: 1px solid orange;
    height: 1px;
    display: block;
    clear: both;
}

.noticias {
    margin: auto 15% auto;
}

div#noticias {
    display: block;
}

    /* noticias */

    article.noticia-article {
        display: flex;
        border: 2px solid orange;
        border-radius: 5px;
        padding: 10px;
        margin: 10px auto;
        background-color: rgb(34, 34, 36);
    }

    article img {
        height: 400px;
        border-radius: 20px;
        margin: auto;
    }

    div.noticia-div {
        display: block;
        margin: auto;
        padding: 20px;
    }

    div.noticia-div p {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        text-align: justify;
        font-size: 120%;
    }

    div.noticia-div h2 {
        font-size: 180%;
        color: orange;
        text-align: justify;
    }

    .enlace-noticia {
        color: orange;
        font-size: 110%;
        text-align: justify;
    }

    .enlace-noticia:hover {
        color: rgb(253, 109, 57);
    }

/* Destacados */

h2 {
    font-size: 280%;
    text-align: center;
    color: orange;
    font-family: 'Carter One', cursive;
}

.destacados {
    margin: auto 15% auto;
    display: flex;
}

.destacados div {
    border: 3px solid orange;
    margin: 10px 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(34, 34, 36);
}

#anime1 {
    width: 33.33%;
}

#anime2 {
    width: 33.33%;
}

#anime3 {
    width: 33.33%;
}

.destacados div img {
    margin: 8px auto;
    display: block;
    border-radius: 5px;
}

.destacados div div {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 14px 0px;
    border: none;
}

.destacados div a {
    color: orange;
    text-decoration: none;
    font-size: 140%;
    border: 2px solid orange;
    padding: 5px;
    border-radius: 5px;
}

.destacados div a:hover {
    border: 2px solid rgb(253, 109, 57);
    color: rgb(253, 109, 57);
}

.destacados div p {
    color: white;
    margin: 10px;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
}

/* footer */
footer {
    background-color: #081220;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

footer div p {
    color: white;
    font-size: 120%;
}